/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
*.swp
.DS_Store
.idea/
/storage/debugbar
/.buildpath
/.main-2017-02-14.log
/.project
/.settings/
/.buildpath
/_ide_helper.php
personal.conf
/storage/*.log